{% extends 'registration/registration_base.html' %}

{% block subtitle %}Account Activation{% endblock %}

{% block page_header %}
    <strong>Account activation failed</strong>
{% endblock %}

{% block page_body %}
    <p>
        Your account may be activated already or you followed an incorrect link.
    </p>

    <p>
        If you are certain that the link is valid and your account is not activated, please <a href="mailto:ygorganizer@monovertex.com">contact the administrator</a>.
    </p>
{% endblock %}