{% extends 'registration/registration_base.html' %}

{% block meta %}
    <meta http-equiv="refresh" content="5;url={% url 'collection' %}" />
{% endblock %}

{% block subtitle %}Password Changed{% endblock %}

{% block page_header %}
    <strong>Password successfully changed</strong>
{% endblock %}

{% block page_body %}
    <p>
        Your password has been updated.
    </p>

    <p>
        Please wait, you will be redirected to your <a href="{% url 'collection' %}">homepage</a>.
    </p>
{% endblock %}