{% extends 'registration/registration_base.html' %}

{% block subtitle %}Password Reset{% endblock %}

{% block page_header %}
    <strong>Reset your password</strong>
{% endblock %}

{% block page_body %}

    {% if form.non_field_errors %}
    <ul class="list-group">
        {% for error in form.non_field_errors %}
            <li class="list-group-item text-danger">
                {{ error|escape }}
            </li>
        {% endfor %}
    </ul>
    {% endif %}

    <p>
        Forgot your password? Enter the email address you registered with we will send you instructions for creating a new one.
    </p>

    <form method="post" action="">
        {% csrf_token %}

        {% include 'form/input.html' with field=form.email input_type='email' %}

        <hr />

        <div class="text-right">
            <button type="submit" name="login" class="btn btn-primary">
                Reset Password
            </button>
        </div>
    </form>
{% endblock %}
