

<div class="table-container-outer">
    <div class="table-container">

        <div class="no-display empty-collection">
            <div class="container">
                <div class="jumbotron">
                    <h3>You have no cards in your collection</h3>

                    <p>
                        You should <a href="/browse/">browse all the cards</a> and add cards from there or <a href="/import/">import your collection</a>.
                    </p>
                </div>
            </div>
        </div>

        <div class="no-display no-results">
            <div class="container">
                <div class="jumbotron">
                    <h3>There are no results</h3>

                    <p>
                        We couldn't find any card corresponding with your search. Please try a different query.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="table-footer">
    <div class="statistics">
        <div class="statistics-row">
            <div class="statistics-head">
                This page:
            </div>

            <div class="statistics-cell statistics-subtotal-count-wrapper">
                <span class="statistics-subtotal-count"></span> cards
            </div><div class="statistics-cell statistics-subtotal-price-shift">
            </div><div class="statistics-cell statistics-subtotal-price-low">
            </div><div class="statistics-cell statistics-subtotal-price-avg">
            </div><div class="statistics-cell statistics-subtotal-price-high">
            </div>
        </div>

        <div class="statistics-row totals">
            <div class="statistics-head">
                Total:
            </div>

            <div class="statistics-cell statistics-total-count-wrapper">
                <span class="statistics-total-count"></span> cards
            </div><div class="statistics-cell statistics-total-price-shift">
            </div><div class="statistics-cell statistics-total-price-low">
            </div><div class="statistics-cell statistics-total-price-avg">
            </div><div class="statistics-cell statistics-total-price-high">
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-5 col-md-12 table-paginator"></div>

            <div class="col-lg-4 col-md-6 table-actions text-center">
                <btn class="btn btn-primary toggle-statistics no-display">
                    Statistics
                </btn>
            </div>

            <div class="col-lg-3 col-md-6 table-filter"></div>
        </div>
    </div>
</div>